streamlit==1.45.1
pandas==2.2.3
geopandas==1.0.1
leafmap==0.45.0
shapely==2.1.0
google-auth==2.40.1
google-cloud-bigquery==3.32.0
google-cloud-firestore==2.20.2
google-cloud-storage
Pillow==11.2.1
db-dtypes==1.4.3
